{% extends "menu.html" %}

{% block content %}

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <!-- <button type="button" class="page-title btn btn-outline-danger btn-rounded waves-effect width-md waves-light" onclick="goBack()">
                            <i class="ion ion-md-arrow-back"></i>
                            Retour
                        </button> -->
                        <div class="page-title-right">
                            <ol class="breadcrumb p-0 m-0">
                                <li class="breadcrumb-item active">GestSchool</li>
                                <li class="breadcrumb-item"><a>Cahier de texte</a></li>
                            </ol> 
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert alert-fill alert-info" role="alert">
                            <h4 class="alert-title">GestSchool</h4>
                            <div class="alert-message"><i class="ion ion-ios-alert"></i> {{ message }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div style="display: flex; align-items: center;">
                                    <h4 class="header-title mb-4" style="margin-right: 10px;">Visualisation des cahiers de texte</h4>  
                                </div>    
                                <div class="row">
                                    <div class="col-12">
                                        
                                        <div class="table-responsive">
                                            <table class="table table-striped mb-0">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 2%;">Classe</th>                                                
                                                        <th style="width: 2%;">Date</th>
                                                        <th>Contenu</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for cahier in cahier_textes %}
                                                    <tr>
                                                        <td style="width: 2%;">{{ cahier.classe }} ({{ cahier.matiere }})</td>
                                                        <td style="width: 2%;">{{ cahier.date }}</td>
                                                        <td style="width: 6%;">{{ cahier.contenu }}</td>

                                                    </tr>
                                                    {% empty %}
                                                    <tr>
                                                        <td colspan="6" style="color: red; font-style: italic;">Aucun élément dans le cahier de texte pour ce trimestre.</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                        {% if error %}
                                        <p style="color: red;">{{ error }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}