{% extends "menu.html" %}

{% block content %}

<div class="nk-block nk-block-lg" style="margin-top : 5%; margin-left : -1.5%;">
    <div class="card card-bordered">
        <div class="card-inner">
            <div class="card-head">
                <h5 class="card-title">Liste des Elèves du Premier Cycle</h5>
            </div>
            <ul class="nav nav-tabs nav-tabs-s2">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#tabItem9">2nde</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tabItem10">1ère</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tabItem11">Tle</a>
                </li>


            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabItem9">

                    <div class="nk-block nk-block-lg">
                        <div class="card card-bordered card-preview">
                            <table class="table table-tranx">
                                <thead>
                                    <tr class="tb-tnx-head">
                                        <th class="tb-tnx-id"><span class="">ID</span></th>
                                        <th class="tb-tnx-info">
                                            <span class="tb-tnx-desc d-none d-sm-inline-block">
                                                <span>nom</span>
                                            </span>
                                            <span class="tb-tnx-desc d-none d-sm-inline-block">
                                                <span>prenoms</span>
                                            </span>
                                        </th>
                                        <th class="tb-tnx-amount">
                                            <span class="tb-tnx-total">serie</span>
                                        </th>
                                        <th class="tb-tnx-amount">
                                            <span class="tb-tnx-total">statut</span>
                                            <span class="tb-tnx-status d-none d-md-inline-block">action</span>
                                        </th>
                                </thead>
                                <tbody>
                                    {% for eleve0 in eleve0 %}
                                    <tr class="tb-tnx-item">
                                        <td class="tb-tnx-id">
                                            <a><span>{{eleve0.id_eleve }}</span></a>
                                        </td>
                                        <td class="tb-tnx-info">
                                            <div class="tb-tnx-desc">
                                                <span class="title">{{eleve0.nom }}</span>
                                            </div>
                                            <div class="tb-tnx-desc">
                                                <span class="title">{{eleve0.prenom }}</span>
                                            </div>

                                        </td>
                                         <td class="tb-tnx-amount">
                                            <div class="tb-tnx-desc">
                                                <span class="title">{{eleve0.serie}}</span>
                                            </div>
                                        </td>
                                        <td class="tb-tnx-amount">
                                            <div class="tb-tnx-desc">
                                                <span class="title">{{eleve0.statut }}</span>
                                            </div>
                                            <div class="tb-tnx-status">
                                                <div class="tb-odr-btns d-none d-md-inline">
                                                    <a href="{% url 'ajout_note' eleve0.id_eleve %}"
                                                        class="btn btn-warning"><em class="icon ni ni-pen"></em>
                                                        Insérer</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="9" style="text-align: center;">Aucun(e) élève enregistré(e)</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- .card-preview -->
                    </div><!-- nk-block -->

                </div>

                <div class="tab-pane" id="tabItem10">
                    <div class="nk-block nk-block-lg">
                        <div class="card card-bordered card-preview">
                             <table class="table table-tranx">
                                <thead>
                                    <tr class="tb-tnx-head">
                                        <th class="tb-tnx-id"><span class="">ID</span></th>
                                        <th class="tb-tnx-info">
                                            <span class="tb-tnx-desc d-none d-sm-inline-block">
                                                <span>nom</span>
                                            </span>
                                            <span class="tb-tnx-desc d-none d-sm-inline-block">
                                                <span>prenoms</span>
                                            </span>
                                        </th>
                                        <th class="tb-tnx-amount">
                                            <span class="tb-tnx-total">serie</span>
                                        </th>
                                        <th class="tb-tnx-amount">
                                            <span class="tb-tnx-total">statut</span>
                                            <span class="tb-tnx-status d-none d-md-inline-block">action</span>
                                        </th>
                                </thead>
                                <tbody>
                                    {% for eleve1 in eleve1 %}
                                    <tr class="tb-tnx-item">
                                        <td class="tb-tnx-id">
                                            <a><span>{{eleve1.id_eleve }}</span></a>
                                        </td>
                                        <td class="tb-tnx-info">
                                            <div class="tb-tnx-desc">
                                                <span class="title">{{eleve1.nom }}</span>
                                            </div>
                                            <div class="tb-tnx-desc">
                                                <span class="title">{{eleve1.prenom }}</span>
                                            </div>

                                        </td>
                                         <td class="tb-tnx-amount">
                                            <div class="tb-tnx-desc">
                                                <span class="title">{{eleve1.serie}}</span>
                                            </div>
                                        </td>
                                        <td class="tb-tnx-amount">
                                            <div class="tb-tnx-desc">
                                                <span class="title">{{eleve1.statut }}</span>
                                            </div>
                                            <div class="tb-tnx-status">
                                                <div class="tb-odr-btns d-none d-md-inline">
                                                    <a href="{% url 'ajout_note' eleve1.id_eleve %}"
                                                        class="btn btn-warning"><em class="icon ni ni-pen"></em>
                                                        Insérer</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="9" style="text-align: center;">Aucun(e) élève enregistré(e)</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- .card-preview -->
                    </div><!-- nk-block -->
                </div>

                <div class="tab-pane" id="tabItem11">
                    <div class="nk-block nk-block-lg">
                        <div class="card card-bordered card-preview">
                            <table class="table table-tranx">
                                <thead>
                                    <tr class="tb-tnx-head">
                                        <th class="tb-tnx-id"><span class="">ID</span></th>
                                        <th class="tb-tnx-info">
                                            <span class="tb-tnx-desc d-none d-sm-inline-block">
                                                <span>nom</span>
                                            </span>
                                            <span class="tb-tnx-desc d-none d-sm-inline-block">
                                                <span>prenoms</span>
                                            </span>
                                        </th>
                                        <th class="tb-tnx-amount">
                                            <span class="tb-tnx-total">serie</span>
                                        </th>
                                        <th class="tb-tnx-amount">
                                            <span class="tb-tnx-total">statut</span>
                                            <span class="tb-tnx-status d-none d-md-inline-block">action</span>
                                        </th>
                                </thead>
                                <tbody>
                                    {% for eleve2 in eleve2 %}
                                    <tr class="tb-tnx-item">
                                        <td class="tb-tnx-id">
                                            <a><span>{{eleve2.id_eleve }}</span></a>
                                        </td>
                                        <td class="tb-tnx-info">
                                            <div class="tb-tnx-desc">
                                                <span class="title">{{eleve2.nom }}</span>
                                            </div>
                                            <div class="tb-tnx-desc">
                                                <span class="title">{{eleve2.prenom }}</span>
                                            </div>

                                        </td>
                                         <td class="tb-tnx-amount">
                                            <div class="tb-tnx-desc">
                                                <span class="title">{{eleve2.serie}}</span>
                                            </div>
                                        </td>
                                        <td class="tb-tnx-amount">
                                            <div class="tb-tnx-desc">
                                                <span class="title">{{eleve2.statut }}</span>
                                            </div>
                                            <div class="tb-tnx-status">
                                                <div class="tb-odr-btns d-none d-md-inline">
                                                    <a href="{% url 'ajout_note' eleve2.id_eleve %}"
                                                        class="btn btn-warning"><em class="icon ni ni-pen"></em>
                                                        Insérer</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="9" style="text-align: center;">Aucun(e) élève enregistré(e)</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- .card-preview -->
                    </div><!-- nk-block -->
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}
