{% extends "interfaces/menu.html" %}

{% block content %}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <button type="button"
                            class="page-title btn btn-outline-success btn-rounded waves-effect width-md waves-light"
                            data-toggle="modal" data-target=".bs-example-modal-lg">
                            <i class="ion ion-md-add-circle"></i>
                            Ajouter un emploi du temps
                        </button>
                        <div class="page-title-right">
                            <ol class="breadcrumb p-0 m-0">
                                <li class="breadcrumb-item active">GestSchool</li>
                                <li class="breadcrumb-item"><a>Emploi du temps</a></li>
                            </ol>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert alert-fill alert-info" role="alert">
                            <h4 class="alert-title">GestSchool</h4>
                            <div class="alert-message"><i class="ion ion-ios-alert"></i> {{ message }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                {% for emploi1 in emploi1 %}
                                <div class="card-head" style="margin-top : 1%;">
                                    <h5 class="alert alert-info"><em class="icon ni ni-calendar-check-fill"></em>&nbsp
                                        Emploi du temps de la
                                        {{emploi1.classe}} {{emploi1.serie}} </h5>
                                </div>

                                <table id="table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="col-rang"
                                                style="text-align: center; font-size: small; font-style: italic; width: 12%;">
                                                HORAIRE
                                            </th>
                                            <th class="col-rang"
                                                style="text-align: center; font-size: small; font-style: italic;">LUNDI
                                            </th>
                                            <th class="col-rang"
                                                style="text-align: center; font-size: small; font-style: italic;">MARDI
                                            </th>
                                            <th class="col-rang"
                                                style="text-align: center; font-size: small; font-style: italic;">
                                                MERCREDI</th>
                                            <th class="col-rang"
                                                style="text-align: center; font-size: small; font-style: italic;">JEUDI
                                            </th>
                                            <th class="col-rang"
                                                style="text-align: center; font-size: small; font-style: italic;">
                                                VENDREDI</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td class="col-numero"
                                                style="text-align: center; font-size: small; width: 12%;">
                                                <input style="text-align: center; font-size: x-medium;" type="text"
                                                    name="temps1" value="08H-10H" placeholder="08H-10H"
                                                    class="form-control form-control-medium-input" readonly />
                                            </td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours1}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours2}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours3}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours4}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours5}}</td>
                                        </tr>

                                        <tr>
                                            <td class="col-numero"
                                                style="text-align: center; font-size: small; width: 12%;">
                                                <input style="text-align: center; font-size: x-medium;" type="text"
                                                    name="temps1" value="10H-12H" placeholder="10H-12H"
                                                    class="form-control form-control-medium-input" readonly />
                                            </td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours6}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours7}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours8}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours9}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours10}}</td>
                                        </tr>

                                        <tr>
                                            <td class="alert alert alert-primary" colspan="6"
                                                style="text-align: center; font-size: small; color: black; background-color: darkgray; font-size: medium; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-style: italic; font-weight: bolder;">
                                                APRES-MIDI</td>
                                        </tr>

                                        <tr>
                                            <td class="col-numero"
                                                style="text-align: center; font-size: small; width: 12%;">
                                                <input style="text-align: center; font-size: x-medium;" type="text"
                                                    name="temps1" value="14H-16H" placeholder="14H-16H"
                                                    class="form-control form-control-medium-input" readonly />
                                            </td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours11}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours12}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours13}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours14}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours15}}</td>
                                        </tr>

                                        <tr>
                                            <td class="col-numero"
                                                style="text-align: center; font-size: small; width: 12%;">
                                                <input style="text-align: center; font-size: x-medium;" type="text"
                                                    name="temps1" value="16H-18H" placeholder="16H-18H"
                                                    class="form-control form-control-medium-input" readonly />
                                            </td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours16}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours17}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours18}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours19}}</td>
                                            <td class="col-note" style="text-align: center;">{{emploi1.cours20}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                {% empty %}
                                <tr>
                                    <td >
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div class="status" style="text-align: center; margin-left: 50%">
                                                        <h4 class="mt-4 mb-3">Aucun emploi du temps enregistré.</h4>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 mt-3">
                                                    <span class="sparkpie-big"><canvas width="101" height="50"
                                                            style="display: inline-block; width: 101.1px; height: 50px; vertical-align: top;"></canvas></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Ajout d'emploi du temps</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'ajouter_emploi' %}">
                    {% csrf_token %}

                    <table id="datatable-article"
                        class="table table-striped table-bordered large-text-table compact-table" style="color: black;">
                        <thead>
                            <th class="col-rang"
                                style="text-align: center; font-size: small; font-style: italic; width: 10%;">HORAIRE
                            </th>
                            <th class="col-rang" style="text-align: center; font-size: small; font-style: italic;">LUNDI
                            </th>
                            <th class="col-rang" style="text-align: center; font-size: small; font-style: italic;">MARDI
                            </th>
                            <th class="col-rang" style="text-align: center; font-size: small; font-style: italic;">
                                MERCREDI</th>
                            <th class="col-rang" style="text-align: center; font-size: small; font-style: italic;">JEUDI
                            </th>
                            <th class="col-rang" style="text-align: center; font-size: small; font-style: italic;">
                                VENDREDI</th>

                        </thead>

                        <tbody>
                            <tr>
                                <td class="col-numero" style="text-align: center; font-size: x-small; width: 11.5%;">08H
                                    <br> à <br> 10H</td>
                                <td class="col-note"><select class="form-control form-control-user" name="cours1"
                                        id="cours1">
                                        {% for matiere in matieres %}
                                        <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>

                                        {% empty %}

                            <tr>
                                <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                            </tr>

                            {% endfor %}
                            <option value="Pas de cours">Pas de cours</option>
                            </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours2"
                                    id="cours2">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours3"
                                    id="cours3">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours4"
                                    id="cours4">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours5"
                                    id="cours5">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            </tr>
                            <tr>
                                <td class="col-numero" style="text-align: center; font-size: x-small;">10H <br> à <br>
                                    12H</td>
                                <td class="col-note"><select class="form-control form-control-user" name="cours6"
                                        id="cours6">
                                        {% for matiere in matieres %}
                                        <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                        {% empty %}
                            <tr>
                                <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                            </tr>
                            {% endfor %}
                            <option value="Pas de cours">Pas de cours</option>
                            </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours7"
                                    id="cours7">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours8"
                                    id="cours8">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours9"
                                    id="cours9">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours10"
                                    id="cours10">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            </tr>
                            <tr>
                                <td class="col-numero" colspan="6"
                                    style="text-align: center; font-size: small; background-color: darkgray; font-size: medium; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-style: italic; font-weight: bolder; color: black;">
                                    APRES-MIDI</td>
                            </tr>
                            <tr>
                                <td class="col-numero" style="text-align: center; font-size: x-small;">14H <br> à <br>
                                    16H</td>
                                <td class="col-note"><select class="form-control form-control-user" name="cours11"
                                        id="cours11">
                                        {% for matiere in matieres %}
                                        <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                        {% empty %}
                            <tr>
                                <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                            </tr>
                            {% endfor %}
                            <option value="Pas de cours">Pas de cours</option>
                            </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours12"
                                    id="cours12">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours13"
                                    id="cours13">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours14"
                                    id="cours14">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours15"
                                    id="cours15">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            </tr>
                            <tr>
                                <td class="col-numero" style="text-align: center; font-size: x-small;">16H <br> à <br>
                                    18H</td>
                                <td class="col-note"><select class="form-control form-control-user" name="cours16"
                                        id="cours16">
                                        {% for matiere in matieres %}
                                        <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                        {% empty %}
                            <tr>
                                <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                            </tr>
                            {% endfor %}
                            <option value="Pas de cours">Pas de cours</option>
                            </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours17"
                                    id="cours17">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours18"
                                    id="cours18">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours19"
                                    id="cours19">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            <td class="col-note"><select class="form-control form-control-user" name="cours20"
                                    id="cours20">
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.sigle }}">{{ matiere.sigle }}</option>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                    </tr>
                                    {% endfor %}
                                    <option value="Pas de cours">Pas de cours</option>
                                </select></td>
                            </tr>

                        </tbody>

                    </table>


                    <div class="form-group">
                        <label class="form-label" for="nom">CLASSE</label>
                        <select class="form-control form-control-user" name="classe" id="classe" required>
                            {% for classe in classes %}
                            <option value="{{ classe.sigle }}">{{ classe.sigle}}</option>
                            {% empty %}
                            <tr>
                                <td colspan="2" style="color: red; font-style: italic;" style="color: red; font-style: italic;">Aucune classe enregistrée</td>
                            </tr>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-12 modal-footer">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% endblock %}