{% extends "menu.html" %}

{% block content %}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <!-- <button type="button"
                            class="page-title btn btn-outline-success btn-rounded waves-effect width-md waves-light"
                            data-toggle="modal" data-target=".bs-example-modal-lg">
                            <i class="ion ion-md-add-circle"></i>
                            Ajouter une classe
                        </button> -->
                        <div class="page-title-right">
                            <ol class="breadcrumb p-0 m-0">
                                <li class="breadcrumb-item active">GestSchool</li>
                                <li class="breadcrumb-item"><a>Fiche de paiement</a></li>
                            </ol>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert alert-fill alert-info" role="alert">
                            <h4 class="alert-title">GestSchool</h4>
                            <div class="alert-message"><i class="ion ion-ios-alert"></i> {{ message }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body table-responsive">
                                <h4 class="m-t-0 header-title mb-4"><b>LISTE GENERALE DE PAIEMENT DES ELEVES</b></h4>
                                <table id="datatable-buttons"
                                       class="table table-striped table-bordered dt-responsive nowrap"
                                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <!-- <th>ID</th> -->
                                            <th>Nom</th>
                                            <th>Prénoms</th>
                                            <th>Contact parent (s)</th>
                                            <th>Classe</th>
                                            <th>Scolarité</th>
                                            <th>Montant total payé</th>
                                            <th>Reste à payer</th>
                                            <th>Statut</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for eleve in eleves %}
                                        <tr>
                                            <!-- <td>{{ eleve.id_eleve }}</td> -->
                                            <td>{{ eleve.nom }}</td>
                                            <td>{{ eleve.prenom }}</td>
                                            <td>{{ eleve.contact }}</td>
                                            <td>{{ eleve.classe }}</td>
                                            <td>{{ eleve.tarif_montant }} FCFA</td>
                                            <td>{{ eleve.total_cotisations }} FCFA</td>
                                            <td> 

                                                {% if eleve.statut_paiement == "En dette" %}
                                                    <span class="badge" style="background-color:red; padding: 5%;">
                                                        {{ eleve.reste_a_payer }} FCFA
                                                    </span>                                            
                                                {% endif %}

                                                {% if eleve.statut_paiement == "Soldé" %}
                                                    <span class="badge" style="background-color:green; padding: 5%;">
                                                        {{ reste }} FCFA
                                                    </span>                                            
                                                {% endif %}

                                            </td>  
                                            <td>
                                                
                                                {% if eleve.statut_paiement == "En dette" %}
                                                    <span class="badge" style="background-color: red; padding: 5%;">
                                                        {{ eleve.statut_paiement }}
                                                    </span>                                            
                                                {% endif %}

                                                {% if eleve.statut_paiement == "Soldé" %}
                                                    <span class="badge" style="background-color: green; padding: 5%;">
                                                        {{ eleve.statut_paiement }}
                                                    </span>                                            
                                                {% endif %}
                                                
                                                {% if eleve.statut_paiement == "Marge dépassée mais soldé" %}
                                                    <span class="badge" style="background-color: orange; padding: 5%;">
                                                        {{ eleve.statut_paiement }}
                                                    </span>                                            
                                                {% endif %}
                                                
                                                </td>
                                            <td>
                                                <button class="btn btn-success" data-toggle="modal" data-target="#editModal{{ eleve.id_eleve }}">
                                                    <i class="ion ion-ios-create"></i> Modifier le montant
                                                </button>
                                                <div class="modal fade" id="editModal{{ eleve.id_eleve }}" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Modifier le montant</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form method="POST" action="{% url 'modifier_solde' eleve.id_eleve %}">
                                                                    {% csrf_token %}
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <div class="form-group">
                                                                                <label>Nouveau Montant</label>
                                                                                <input type="number" class="form-control" name="nouveau_montant" required>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="submit" class="btn btn-success">Valider</button>
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
