{% extends "menu.html" %}

{% block content %}

<div class="content-page">
    <div class="content">

        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb p-0 m-0">
                                <li class="breadcrumb-item active">GestSchool</li>
                                <li class="breadcrumb-item"><a>Profile</a></li>
                            </ol>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert alert-fill alert-info" role="alert">
                            <h4 class="alert-title">GestSchool</h4>
                            <div class="alert-message"><i class="ion ion-ios-alert"></i> {{ message }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="profile-bg-picture" style="background-image:url('/static/images/bg-profile.jpg')">
                            <span class="picture-bg-overlay"></span>
                            </div>
                        <div class="profile-user-box">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="profile-user-img"><img src="/static/images/utilisateur-de-profil.png"
                                            alt="" class="avatar-lg rounded-circle"></div>
                                    <div class="">
                                        {% if professeur %}
                                            <h2 class="mt-5 font-120 ellipsis"><i class="mdi mdi-account-outline"></i>{{ professeur.nom }} {{ professeur.prenom }}</h2>
                                            <h3 class="mt-5 font-120 ellipsis font-18">&nbsp;<i class="ion ion-ios-checkbox-outline"></i>  {{ professeur.role }} </h3>
                                            <h5 class="mt-5 font-120 ellipsis font-16">&nbsp;<i class="ion ion-ios-call"></i> {{ professeur.contact }} </h5>
                                        {% else %}
                                            <h2 class="mt-5 font-120 ellipsis"><i class="mdi mdi-account-outline"></i>Votre profil n'est pas à jour</h2>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-success waves-effect waves-light"
                                            data-toggle="modal" data-target=".editprofil">
                                            <i class="mdi mdi-account-settings-variant mr-1"></i> Mettre à jour le
                                            profile
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade editprofil" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Mise à jour du profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form role="form" method="post" action="{% url 'editer_profile' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="userName">Nom<span class="text-danger">*</span></label>
                            <input type="text" name="nom" parsley-trigger="change" required=""
                                class="form-control" id="nom" {% if professeur %}value="{{ professeur.nom }}"{% endif %}>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="userName">Prénom<span class="text-danger">*</span></label>
                            <input type="text" name="prenom" parsley-trigger="change" required=""
                                class="form-control" id="prenom" {% if professeur %}value="{{ professeur.prenom }}"{% endif %}>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="userName">Rôle<span class="text-danger">*</span></label>
                            <input type="text" name="role" parsley-trigger="change" required="" value="{{ user.role }}" readonly
                                class="form-control" id="role" {% if professeur %}value="{{ professeur.role }}"{% endif %}>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="userName">Contact<span class="text-danger">*</span></label>
                            <input type="text" name="contact" parsley-trigger="change" required=""
                                class="form-control" id="contact" {% if professeur %}value="{{ professeur.contact }}"{% endif %}>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="userName">Email<span class="text-danger">*</span></label>
                            <input type="email" name="email" parsley-trigger="change" required=""
                                class="form-control" id="email" {% if professeur %}value="{{ professeur.email }}"{% endif %}>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="userName">Matière enseignée<span class="text-danger">*</span></label>
                            <select class="form-control form-control-user" name="matiere_enseignee" id="matiere_enseignee">
                                {% for matiere in matieres %}
                                <option value="{{ matiere.id }}" {% if professeur and professeur.matiere_id == matiere.id %}selected{% endif %}>{{ matiere.sigle }}</option>
                                {% empty %}
                                <tr>
                                    <td colspan="2" style="color: red; font-style: italic;">Aucune matière enregistrée</td>
                                </tr>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-12 modal-footer">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}