{% load form_tags %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="./static/auth/static/./static/auth/static/./static/auth/static/">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <link rel="icon" href="/static/auth/static/image/favicon/logo_gestschool.png" type="image/x-icon">
    <title>GestSchool</title>
    <link rel="stylesheet" href="/static/auth/static/css/dashlite.css?ver=3.2.3">
    <link id="skin-default" rel="stylesheet" href="/static/auth/static/css/theme.css?ver=3.2.3">
    <link rel="stylesheet" href="/static/auth/static/css/dashlite.css">

</head>

<body class="nk-body npc-default pg-auth">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-split nk-split-page nk-split-lg">
                        <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white">
                            <div class="absolute-top-right d-lg-none p-3 p-sm-5">
                                <a href="#" class="toggle btn-white btn btn-icon btn-light" data-target="athPromo"><em
                                        class="icon ni ni-info"></em></a>
                            </div>
                            <div class="nk-block nk-block-middle nk-auth-body" style="margin-top: 15%;">
                                <div class="brand-logo pb-5">
                                    <a href="html/index.html" class="logo-link">
                                        <h2 class="nk-block-title">Création de compte</h2>
                                    </a>
                                </div>

                                {% if messages %}
                                    <div class="success-message">
                                        {% for message in messages %}
                                            <div class="alert alert-icon alert-info col-lg-12" style="margin-left : 1%; margin-top : 1%; text-align: center;" role="alert">
                                                <em class="icon ni ni-alert-circle"></em>
                                                <strong>{{message}}</strong>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <form class="form-validate is-alter" method="post" action="{% url 'register' %}" style=" margin-top : 2%;">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="form-group">
                                            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            <div class="form-control-wrap">
                                                {{ field|add_class:"form-control form-control-lg" }}
                                                {% if field.errors %}
                                                    <div class="form-note-s2 text-danger">
                                                        {{ field.errors }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="form-group">
                                        <button class="btn btn-lg btn-primary btn-block">S'inscrire &nbsp<em
                                                class="icon ni ni-signin"></em></button>
                                    </div>
                                </form>
                                <div class="form-note-s2 pt-4" style="text-align: center;"> Vous avez déjà un compte? <a href="{% url 'login_view' %}">Connectez-vous</a>
                                </div>
                            </div>
                        </div>
                        <div class="image-container">
                            <img src="/static/auth/static/image/eleve1.jpg" alt="" style="background-size: cover; height: 100vh; object-fit: cover; box-shadow: 30px 30px 50px rgba(1, 1, 1, 1);">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="preloader-body bg-lighter">
            <div class="cube-wrapper">
                <div class="cube-folding">
                    <span class="leaf1"></span>
                    <span class="leaf2"></span>
                    <span class="leaf3"></span>
                    <span class="leaf4"></span>
                </div>
                <span class="loading" data-name="Loading">Loading</span>
            </div>
        </div>

        <script src="/static/auth/static/js/bundle.js?ver=3.2.3"></script>
        <script src="/static/auth/static/js/scripts.js?ver=3.2.3"></script>
        <script src="/static/auth/static/js/main.js"></script>
    </body>
</html>