{% extends "interfaces/menu.html" %}

{% block content %}


{% if messages %}
<div class="success-message">
    {% for message in messages %}
        <div class="alert alert-fill alert-info col-lg-6" style="margin-left : 25%; margin-top : 2%; text-align: center;" role="alert">
            <em class="icon ni ni-alert-circle"></em>
            <strong>{{message}}</strong>
        </div>
    {% endfor %}
</div>
{% endif %}


<div class="nk-block nk-block-lg" style="margin-top : 15%; margin-left : -1.5%;">
    <div class="card card-bordered">
        <div class="card-inner">
            <div class="card-head">
                {% for eleve in eleves %}
                <h5 class="card-title">Ajout de notes pour {{ eleve.nom}} {{ eleve.prenom}} </h5>
                {% endfor %}
            </div>

            <div class="tab-content">

                <form method="post" action="{% url 'ajouter_note' %}">
                    {% csrf_token %}
                    {% if eleves %}
                    <table id="table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="col-rang"
                                    style="text-align: center; font-size: small; font-style: italic; width: 0.5%;">ID
                                </th>
                                <th class="col-rang"
                                    style="text-align: center; font-size: small; font-style: italic; width: 1%;">MATIERE
                                </th>
                                <th class="col-rang"
                                    style="text-align: center; font-size: small; font-style: italic; width: 1%;">INTERRO
                                    1</th>
                                <th class="col-rang"
                                    style="text-align: center; font-size: small; font-style: italic; width: 1%;">INTERRO
                                    2</th>
                                <th class="col-rang"
                                    style="text-align: center; font-size: small; font-style: italic; width: 1%;">INTERRO
                                    3</th>
                                <th class="col-rang"
                                    style="text-align: center; font-size: small; font-style: italic; width: 1%;">DEVOIR
                                    1</th>
                                <th class="col-rang"
                                    style="text-align: center; font-size: small; font-style: italic; width: 1%;">DEVOIR
                                    2</th>
                                <th class="col-rang"
                                    style="text-align: center; font-size: small; font-style: italic; width: 0.5%;">COEF
                                </th>
                                <th class="col-rang"
                                    style="text-align: center; font-size: small; font-style: italic; width: 0.5%;">TRI
                                </th>
                                <th class="col-rang"
                                    style="text-align: center; font-size: small; font-style: italic; width: 0.5%;">
                                    ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for eleve in eleves %}
                            <tr>
                                <td style="width: 1%; text-align: center;" class="col-note">
                                    <input style="text-align: center; font-size: small;" name="eleve_id"
                                        id="id_{{ eleve.id }}" type="text"
                                        class="form-control form-control-medium-input" value="{{eleve.id_eleve}}"
                                        readonly />
                                </td>
                                <td style="width: 1%; text-align: center; font-size: small;" class="col-note">
                                    <select class="form-control form-control-medium-input" style="font-size: small;"
                                        name="matiere_id" id="matiere_{{ eleve.id }}">
                                        {% for matiere in matieres %}
                                        <option value="{{ matiere.id }}">{{ matiere.nom }}</option>
                                        {% empty %}
                                        <option value="">Aucune matiere enregistrée</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="col-note">
                                    <input style=" text-align: center; font-size: small" type="text" name="n1"
                                        class="form-control form-control-medium-input" min="0" max="20" step="0.01"
                                        id="n1_{{ student.id }}" oninput="calculateMoyenne()" />
                                </td>
                                <td class="col-note">
                                    <input style=" text-align: center; font-size: small" type="text" name="n2"
                                        class="form-control form-control-medium-input" min="0" max="20" step="0.01"
                                        id="n2_{{ student.id }}" oninput="calculateMoyenne()" />
                                </td>
                                <td class="col-note">
                                    <input style=" text-align: center; font-size: small" type="text" name="n3"
                                        class="form-control form-control-medium-input" min="0" max="20" step="0.01"
                                        id="n3_{{ student.id }}" oninput="calculateMoyenne()" />
                                </td>
                                <td class="col-note">
                                    <input style=" text-align: center; font-size: small" type="text" name="n4"
                                        class="form-control form-control-medium-input" min="0" max="20" step="0.01"
                                        id="n4_{{ student.id }}" oninput="calculateMoyenne()" />
                                </td>
                                <td class="col-note">
                                    <input style=" text-align: center; font-size: small" type="text" name="n5"
                                        class="form-control form-control-medium-input" min="0" max="20" step="0.01"
                                        id="n5_{{ student.id }}" oninput="calculateMoyenne()" />
                                </td>
                                <td class="col-note">
                                    <select class="form-control form-control-medium-input" style="font-size: small;"
                                        name="coef" id="coef_{{ eleve.id }}">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </td>
                                <td class="col-note">
                                    <select class="form-control form-control-medium-input" style="font-size: small;"
                                        name="tri" id="tri_{{ eleve.id }}">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn btn-success btn-user btn-block" type="submit"
                                        style="font-size: small;">
                                        <em style="font-size: large;"
                                    class="icon ni ni-check-circle-cut"></em> &nbsp Valider
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </form>
            </div>



        </div>
    </div>
</div>

{% endblock %}
