{% extends "interfaces/menu.html" %}

{% block content %}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <button type="button"
                            class="page-title btn btn-outline-success btn-rounded waves-effect width-md waves-light"
                            data-toggle="modal" data-target=".bs-example-modal-lg">
                            <i class="ion ion-md-add-circle"></i>
                            Ajouter un tarif
                        </button>
                        <div class="page-title-right">
                            <ol class="breadcrumb p-0 m-0">
                                <li class="breadcrumb-item active">GestSchool</li>
                                <li class="breadcrumb-item"><a>Matière</a></li>
                            </ol>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert alert-fill alert-info" role="alert">
                            <h4 class="alert-title">GestSchool</h4>
                            <div class="alert-message"><i class="ion ion-ios-alert"></i> {{ message }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mb-4">Les Tarifs</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">Classe</th>
                                                <th style="text-align: center;">Tarif (FCFA)</th>
                                                <th style="text-align: center;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for tarif in tarifs %}
                                            <tr style="text-align: center;">
                                                <td>{{ tarif.classe_id.fusion }}</td>
                                                <td>{{ tarif.montant }}</td>
                                                <td>
                                                    <button class="btn btn-success" data-toggle="modal" data-target="#editModal{{ tarif.id }}">
                                                        <i class="ion ion-ios-color-wand"></i> Modifier le tarif
                                                    </button>
                                                    <div class="modal fade" id="editModal{{ tarif.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Modifier le tarif</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">×</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form method="POST" action="{% url 'modify_tarif' tarif.id %}">
                                                                        {% csrf_token %}
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label>Montant</label>
                                                                                    <input type="text" class="form-control" name="montant" value="{{ tarif.montant }}">
                                                                                </div>
                                                                            </div>                                                                                                                     
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label for="inputState" class="form-label">Classe</label>
                                                                                    <select id="inputState" class="form-control" name="classe_id"
                                                                                        data-placeholder="{{ tarif.classe_id_id.fusion }}" required>
                                                                                        {% for classe in classes %}
                                                                                        <option value="{{ classe.id }}">{{ classe.fusion }}</option>
                                                                                        {% empty %}
                                                                                        <tr>
                                                                                            <td colspan="2" style="color: red; font-style: italic;">Aucune classe enregistrée</td>
                                                                                        </tr>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-success">Valider</button>
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="3" style="text-align: center; color: red; font-style: italic;">Aucun tarif enregistré</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Ajout de tarif</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form role="form" method="post" action="{% url 'ajouter_tarif' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="userName">Montant<span class="text-danger">*</span></label>
                        <input type="text" name="montant" parsley-trigger="change" required=""
                            class="form-control" id="montant">
                    </div>
                    <div class="form-group">
                        <label for="userName">Classe<span class="text-danger">*</span></label>
                        <select class="form-control form-control-medium-input" style="font-size: small;"
                            name="classe_id" id="classe_{{ eleve.id }}">
                            {% for classe in classes %}
                            <option value="{{ classe.id }}">{{ classe.fusion }}</option>
                            {% empty %}
                            <option value="">Aucune classe enregistrée</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-12 modal-footer">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% endblock %}